{% extends 'layout.html' %}

{% block content %}
  <section class="header">
      <h1>Rohald van Merode</h1>
      <p>Full Stack JavaScript / Python Developer</p>
      <img src="https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Computer running code">
  </section>
  <section id="about-page">
      <div id="triangle7"></div>
      <div id="triangle8"></div>
      <h2>About me</h2>
      <p>
          I'm Rohald and I'm a FullStack webdeveloper. In the last 1.5 years I've been learning web development at TeamTreehouse and graduated form both their FrontEnd and FullStack Techdegrees. Currently I'm working on the Python Techdegree to expand my knowledge with this amazing backend language. 
      </p>
      <p>
          I'm currently looking for a full time developer position and am also open for any freelance projects. Below you can check out my resume (sorry only had a Dutch one available at the moment 🙈). If you got any questions or want to collaborate on a project you can reach out to me at info@rohald.dev (not yet active 😅)
      </p>
      <a href="/static/cv-rohald.pdf" download><i class="far fa-file"></i>Resume</a>
  </section>
{% endblock %}
